<!doctype html>
<html class="supports-no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="UTF-8">
  <title>
    {{ shop.name }}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {{ content_for_header }}
  <style>
    .template-password {
      height: 100vh;
      font-size: 16px;
      color: #3d4246;
      line-height: 1.5;
      background-color: #fff;
    }
    .password-page {
      display: table;
      height: 100%;
      width: 100%;
      color: #666;
      background-color: #fff;
      background-size: cover;
    }
    .password-main {
      display: table-row;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
    .text-center {
      text-align: center !important;
    }
    .password-main__inner {
      display: table-cell;
      vertical-align: middle;
      padding: 15px 30px;
    }
    .page-width {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .password__form-heading {
      margin-bottom: 30px;
    }
    
  </style>
</head>

<body class="template-password">
  <div class="password-page text-center">
    <div class="password-main text-center" role="main">
      <div class="password-main__inner">
        <div class="password-modal__content page-width text-center">
          <p class="password__form-heading h4">ただいまメンテナンス中です。<br><br>作業完了までしばらくお待ち下さい。</p>
          {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <div class="input-group password__input-group">
            <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            <span class="input-group__btn">
              <button type="submit" name="commit" class="btn btn--narrow">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </span>
          </div>
          {% endform %}
        </div>
        {{ content_for_layout }}
      </div>
    </div>
  </div>
  <script>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      }
    }
  </script>
</body>
</html>
