<section class="util_pc section list_slider" id="feature">
    <div class="upper">
        <div class="tlt_main">
            <div class="item_thumbnail">
                <img class="util_pc" src="{{'feature.png' | asset_url}}" alt="">
                <img class="util_sp" src="{{'FEATURE_sp.png' | asset_url}}" alt="">
            </div>
            <span>特集</span>
        </div>
        <div class="feature_index">
        {%- for block in section.blocks -%}
            <div class="feature_item {{block.id}}">
            {%- assign ImageLink = block.settings.link -%}
            {%- assign ImageUrl = block.settings.image -%}
                <a href="{{ImageLink}}">
                    <div class="item_thumbnail">
                        {% if ImageUrl != blank %}
                        <img src="{{ImageUrl | img_url: 'master'}}" alt="">
                        {% else %}
                         <img src="{{'banner_feature.png' | asset_url}}" alt="">
                        {% endif %}
                    </div>
                </a>
            </div>
            {%- endfor -%}
        </div>
    </div>
    <div class="bg_feature"></div>
</section>
<section id="feature_list_sp" class="util_sp section feature_list">
    <div class="upper">
        <div class="tlt_main">
            <div class="item_thumbnail">
                <img class="util_pc" src="{{'feature.png' | asset_url}}" alt="">
                <img class="util_sp" src="{{'FEATURE_sp.png' | asset_url}}" alt="">
            </div>
            <span>特集</span>
        </div>
        <div class="feature_index">
          <div class="container_feature">
            {%- for block in section.blocks -%}
                <div class="feature_item {{block.id}}">
                {%- assign ImageLink = block.settings.link -%}
                {%- assign ImageUrl = block.settings.image -%}
                    <a href="{{ImageLink}}">
                        <div class="item_thumbnail">
                            {% if ImageUrl != blank %}
                            <img src="{{ImageUrl | img_url: 'master'}}" alt="">
                            {% else %}
                            <img src="{{'banner_feature.png' | asset_url}}" alt="">
                            {% endif %}
                        </div>
                    </a>
                </div>
            {%- endfor -%}
            </div>
        </div>
    </div>
    <div class="bg_feature"></div>
</section>



{% schema %}
{
    "name": "Featured-page",
    "class": "index-section index-section--flush",
    "max_blocks": 10,
    "settings": [
  	  {
        "type": "header",
        "content": "Grid settings"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "area",
            "label": "Grid area",
            "info": "If you need larger items, enter CSS area value, [refer here](https:\/\/www.w3schools.com\/cssref\/pr_grid-area.asp)"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
