<!-- /templates/product.liquid -->
<script src="{{ 'xzoom.min.js' | asset_url }}" defer="defer"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% assign barCode = product.first_available_variant.barcode %}
{% assign current_variant = product.selected_or_first_available_variant %}
<div itemscope itemtype="http://schema.org/Product" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.product_image_zoom_type }}" data-show-extra-tab="{{ section.settings.show_extra_tab }}" data-extra-tab-content="{{ section.settings.extra_tab_content }}" data-cart-enable-ajax="{{ settings.cart_enable_ajax }}" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <div class="upper">
    {% render 'breadcrumbs' %}
  </div>
  <section class="section container_product_detail">
    <div class="upper">
      <div class="info_details">
        <div class="slider_thumbail">
          <div class="slider slider_main_thumbail">
            <div class="img_preview">
              <img
                class="xzoom"
                src="{{ product | img_url: 'master' }}"
                xoriginal="{{ product | img_url: 'master' }}"
              />
            </div>

            <div class="list_item_img">
            {%- for image in product.images -%}
              <a
                href="{{ image.src | img_url: 'master' }}"
                style="display: inline-block;"
              >
                <img
                  class="xzoom-gallery"
                  width="68"
                  src="{{ image.src | img_url: 'master' }}"
                  {% comment %} xpreview="{{ image.src | img_url: 'master' }}" {% endcomment %}
                />
                {%- endfor -%}
              </a>
            </div>
          </div>
        </div>
        <div class="info_details_list c-item">
          <div class="c-item__body">
            <div class="c_category">
              <span>{{product.type}}</span>
            </div>
            <h3 class="c-item__title">{{product.title}}</h3>
            <div class="c-item__author"><a href="/search?type=product&q={{ product.metafields.custom_fields["artist"] | url_param_escape }}">{{ product.metafields.custom_fields["artist"] }}</a></div>
            <ul>
              <li>{{ product.metafields.custom_fields["artist_kana"] }}</li>
              {% if product.metafields.custom_fields["genre"] != null %}
              <li>ジャンル：{{ product.metafields.custom_fields["genre"] }}</li>
              {% endif %}
              {% if product.metafields.custom_fields["release_date"] != null %}
              <li>{{ product.metafields.custom_fields["release_date"] | date: "%Y-%m-%d" }} 発売</li>
              {% endif %}
              {% if product.metafields.custom_fields["catalog_no"] != null %}
              <li>品番 : {{ product.metafields.custom_fields["catalog_no"] }}</li>
              {% endif %}
              {% if barCode != null %}
              <li>JAN : {{barCode}}</li>
              {% endif %}
              {% if product.metafields.custom_fields["country"] != null %}
              <li>発売国 : <a href="/search?type=product&q={{ product.metafields.custom_fields["country"] | url_param_escape }}"><span>{{ product.metafields.custom_fields["country"] }}</span></a></li>
              {% endif %}
              {% if product.metafields.custom_fields["era"] != null %}
              <li>年代：録音日{{ product.metafields.custom_fields["era"] | date: "%Y-%m-%d" }}</li>
              {% endif %}
              {% if product.metafields.custom_fields["condition"] != null %}
              <li>状態 : <a href="/search?type=product&q={{ product.metafields.custom_fields["condition"] | url_param_escape }}"><span>{{ product.metafields.custom_fields["condition"] }}</span></a></li>
              {% endif %}
              {% if product.vendor != null %}
              <li>LABEL : <a href="/search?type=product&q={{product.vendor | url_param_escape }}"><span>{{product.vendor}}</span></a></li>
              {% endif %}
              {% if product.metafields.custom_fields["format"] != null %}
              <li>フォーマット : {{ product.metafields.custom_fields["format"] }}</li>
              {% endif %}
              {% if product.metafields.custom_fields["disc_count"] != null %}
              <li>枚数 : {{ product.metafields.custom_fields["disc_count"] }}枚組</li>
              {% endif %}
              {% if product.metafields.custom_fields["appendices"] != null %}
              <li>付録 : {{ product.metafields.custom_fields["appendices"] }}</li>
              {% endif %}
              {% if product.metafields.custom_fields["specification"] != null %}
              <li>仕様 : <a href="/search?type=product&q={{ product.metafields.custom_fields["specification"] | url_param_escape }}"><span>{{ product.metafields.custom_fields["specification"] }}</span></a></li>
              {% endif %}
              {% if product.metafields.custom_fields["bonus"] != null %}
              <li>特典 : {{ product.metafields.custom_fields["bonus"] }}</li>
              {% endif %}
              {% if product.tags != null %}
              <li>
                関連タグ :
                  {% for tag in product.tags %}
                      {% capture url %}/collections/all/{{ tag | handle }}{% endcapture %}
                    <span class="txt_num2">
                        <a href="{{url}}">{{tag}}</a>
                    </span>
                  {% endfor %}
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="set_cart_buy">
              <div class="c-item__price">
                {% comment %} <h3>{{ product.selected_or_first_available_variant.price | money }}</h3><span>(税別)</span> {% endcomment %}
                <h3>
                  {% if product.compare_at_price_max > product.price %}
                    {% comment %} <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span> {% endcomment %}
                  {% else %}
                    {% comment %} <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span> {% endcomment %}
                  {% endif %}
                  {% comment %} <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}"> {% endcomment %}
                    {{ current_variant.price | money }}
                  {% comment %} </span> {% endcomment %}
                  {% if product.compare_at_price_max > product.price %}
                    {% comment %} <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span> {% endcomment %}
                    {% comment %} <s class="product-single__price--compare" id="ComparePrice"> {% endcomment %}
                      {% comment %} {{ current_variant.compare_at_price | money }} {% endcomment %}
                    {% comment %} </s> {% endcomment %}
                  {% endif %}
                  {% comment %} {% include 'product-unit-price', variant: current_variant, available: true %} {% endcomment %}
                </h3><span>(税別)</span>
              </div>
              {% if current_variant.available %}
              {% form 'product', product, class: 'add_cart_item' %}
                
                {% if product.metafields.custom_fields["preorder"] == "true" %}
                <div class="in_stock">予約受付中</div>
                {% else %}
                <div class="in_stock">在庫あり</div>
                {% endif %}
                <!-- {% if product.variants.size > 1 %} -->
                {% comment %} <div id="box_check_option" class="box_select__"> {% endcomment %}
                  <select name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants" data-productid="{{product.id}}">
                    {% for variant in product.variants %}
                      {% if variant.available %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>
                {% comment %} </div> {% endcomment %}
                <!-- {% endif %} -->
                <input type="hidden" id="Quantity" name="quantity" value="1" min="1">
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"/>
                <button type="submit" name="add" id="AddToCart" class="btn_short01 btn_cart_item" data-cart-url="{{ routes.cart_url }}">
                  <span id="AddToCartText">カートに入れる</span>
                </button>
              {%endform %}
              {% else %}
                {% if product.metafields.custom_fields["preorder"] == "true" %}
                  <div class="out_in_stock">先行予約受付中で</div>
                {% else %}
                  <div class="out_in_stock">在庫なし</div>
                {% endif %}
                <button type="button" class="btn_cart_item_empty">完売しました</button>
              {% endif %}
              <div id="wish_list_btn" class="active_favorite">
                  <span class="action--wishlist tile-actions--btn flex wishlist-btn" data-product-handle="{{ product.handle }}" data-product-id="{{product.id}}">お気に入りに登録</span>
              </div>
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          </div>
        </div>
      </div>
      <div class="content_details">
        <div class="item_description">
          <h3>
            {{ product.metafields.custom_fields["comment_title"] }}
          </h3>
          <p>
            {{ product.description}}
          </p>
        </div>
        <div class="inner_item_music">
          <div class="list_item_music">
              {% if product.metafields.custom_fields["jmd_url"] != null %}
                <a class="btn_view" href="javascript:void(0)" onClick="jplayer('KBH01','d1pYXtcty4','{{ product.metafields.custom_fields["jmd_url"] }}','1'); return false;">
                  <div class="btn_short01"><span>視聴する</span></div>
                </a>
              {% endif %}
            {% assign listTrackLists = product.metafields.custom_fields["tracklist"] | remove: "1. " | split: '. '%}
            <ul class="list_item_music_more">
              {% for list in listTrackLists %}
              <li>
                  {{ forloop.index }}. {{list}}
              </li>
              {% endfor %}
            </ul>
              {% if list.item_count > 30 %}
                <div class="more_list_music">
                  <span>MORE</span>
                </div>
              {% endif %}
          </div>
        </div>
        <div class="video_music">{{ product.metafields.custom_fields["embed"] }}</div>
        <div class="container_tag">
          <h3>関連タグ</h3>
          <ul>
          {% for tag in product.tags %}
          {% capture url %}/collections/all/{{ tag | handle }}{% endcapture %}
            <li><a href="{{url}}">#{{tag}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<style>
  .selector-wrapper >label {
    display: none !important;
  }
  #main_content {
    background-color: #ebebeb;
  }
  .select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #cae2dc;
    font-weight: 700;
    letter-spacing: 1.6px;
  }
  /*.select2-container--default .select2-results .select2-results__options {*/
  /*border: 1px solid #121212;*/
  /*}*/
  .select2-results__option--selectable {
    font-weight: 500;
  }
  .select2-results__option {
    letter-spacing: 1.6px;
  }
  .select2-container--default .select2-results__option--selected {
    margin: 12px;
  }

  .single-option-selector {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    /* color: #444; */
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url({{'icon_pull_down.png' | asset_url}});
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 2em auto, 100%;
  }
  .single-option-selector::-ms-expand {
    display: none;
  }
  .single-option-selector:focus {
    border-color: #aaa;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  .single-option-selector option {
    font-weight:normal;
  }
  *[dir="rtl"] .single-option-selector, :root:lang(ar) .single-option-selector, :root:lang(iw) .single-option-selector {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
  }
  .single-option-selector:disabled, .single-option-selector[aria-disabled=true] {
    color: grayest;
    background-image: url({{'icon_pull_down.png' | asset_url}});
  }
  .single-option-selector:disabled:hover, .single-option-selector[aria-disabled=true] {
    border-color: #aaa;
  }
  #wish_list_btn {
    display: block;
    text-align: right;
  }

@media only screen and (min-width: 1248px) and (max-width: 1919px) {
    .select2-container--default
      .select2-results__option--highlighted.select2-results__option--selectable {
      font-size: 1.0422vw;
    }
    .select2-results__option--selectable {
      font-size: 1.0422vw;
    }
    .select2-container--default .select2-results__option--selected {
      margin: 0.62532569vw;
    }
  }
  @media only screen and (max-width: 1247px) and (min-width: 769px) {
    .select2-container--default .select2-results__option--selected {
      margin: 4px;
    }
  }
  @media (max-width: 768px) {
    #wish_list_btn {
      text-align: center;
    }
    .select2-container--default
      .select2-results__option--highlighted.select2-results__option--selectable {
      font-size: 3.645833333vw;
      font-weight: 500;
    }
    .main > .inner {
      background-color: #ffffff;
    }
    .single-option-selector {
      height: 13vw;
      border-radius: 0.911458333vw;
      background-image: url({{'sp_sidemenu_arrow_down.png' | asset_url}});
      font-size: 3.645833333vw;
      font-weight: 500;
      text-align: left;
      letter-spacing: 0.28vw;
    }

    .single-option-selector option {
      font-weight: 700;
    }
  }
</style>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}
<!-- <script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  window.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script> -->
<script type="text/javascript">
    $(document).ready(function(){
        $('html, body').animate({
            scrollTop: 0
        }, 300);
    });
    var productData = {{product | json}};

    var wishlistOption = localStorage.getItem('product_wishlist') || [];
    if (wishlistOption.length > 0) {
      wishlistOption = JSON.parse(localStorage.getItem('product_wishlist'));
    }
      var product = {
        "productId": productData.id,
      }

      $('#wish_list_btn').click(function (e) {
        e.preventDefault();
        var option = {};
        for (var i = 0; i < productData.options.length; i++) {
          var name = productData.options[i];
          var data = {};
          data[name] = $("#ProductSelect-product-template-option-" + i).val();
          option = Object.assign(option, data);
        }
        product = Object.assign(product, option);

        var isRemove = $(this).hasClass('active_favorited');
        /* Remove */
        if (isRemove) {
          var removeIndexOption = wishlistOption.map(function (e) { return e.productId; }).indexOf(productData.id);
          wishlistOption.splice(removeIndexOption, 1);
          localStorage.setItem('product_wishlist', JSON.stringify(wishlistOption));
        }
        /* Add */
        else {
          wishlistOption.push(product);
          localStorage.setItem('product_wishlist', JSON.stringify(wishlistOption));
        }
        localStorage.setItem('product_wishlist', JSON.stringify(wishlistOption));
      });
    (function ($) {
    var wishlist = localStorage.getItem('user_wishlist');
    if (wishlist == null){
      var wishlist = [];
    } else {
      var wishlist = JSON.parse(localStorage.getItem('user_wishlist'));
    }
    var productHandle = $('.wishlist-btn').data('product-handle');
    if(wishlist.includes(productHandle.toString())) {
      $('#wish_list_btn').addClass('active_favorited');
      $('#wish_list_btn').removeClass('active_favorite');
    }
    })(jQuery);
</script>
<!-- <script>
  {% comment %} var numberCart = {{ cart.item_count }};
    $('#AddToCart').click(function (e) {
      e.preventDefault();
      var addToCartForm = $(this).closest('form');
      numberCart++;
      $.ajax({
        url: '/cart/add.js',
        dataType: 'json',
        type: 'post',
        data: addToCartForm.serialize(),
        success: function (cart) {
          $('#header').find('#CartCount').text(numberCart);
        }
      });
    }); {% endcomment %}
</script> -->

{% schema %}
{
  "name": {
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "hi": "उत्पाद पेज",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": {
        "da": "Vis produktleverandør",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "hi": "उत्पाद विक्रेता दिखाएं",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pt-BR": "Exibir o fornecedor do produto",
        "pt-PT": "Mostrar o fornecedor do produto",
        "sv": "Visa produktsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    },
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": {
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "hi": "मात्रा चयनकर्ता दिखाएं",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pt-BR": "Exibir seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      }
    },
    {
      "type": "select",
      "id": "product_image_zoom_type",
      "label": {
        "da": "Billedzoomtype",
        "de": "Bildzoomtyp",
        "en": "Image zoom type",
        "es": "Tipo de zoom de imagen",
        "fi": "Kuvan zoomaustyyppi",
        "fr": "Type de zoom sur image",
        "hi": "इमेज ज़ूम प्रकार",
        "it": "Tipo di zoom immagine",
        "ja": "画像のズームタイプ",
        "ko": "이미지 확대 유형",
        "nb": "Zoomtype for bilder",
        "nl": "Type zoom-afbeelding",
        "pt-BR": "Tipo de zoom da imagem",
        "pt-PT": "Tipo de zoom da imagem",
        "sv": "Bildzoomtyp",
        "th": "ประเภทการซูมภาพ",
        "zh-CN": "图片缩放类型",
        "zh-TW": "圖片縮放類型"
      },
      "options": [
        {
          "value": "lightbox",
          "label": {
            "da": "Lightbox",
            "de": "Leuchtkasten",
            "en": "Lightbox",
            "es": "Lightbox",
            "fi": "Lightbox-valotaulu",
            "fr": "Visionneuse d'image",
            "hi": "लाइटबॉक्स",
            "it": "Lightbox",
            "ja": "Lightbox",
            "ko": "라이트 박스",
            "nb": "Lysboks",
            "nl": "Lightbox",
            "pt-BR": "Lightbox",
            "pt-PT": "Lightbox",
            "sv": "Ljuslåda",
            "th": "Lightbox",
            "zh-CN": "灯箱",
            "zh-TW": "燈箱"
          }
        },
        {
          "value": "zoom-in",
          "label": {
            "da": "Zoom ind",
            "de": "Heranzoomen",
            "en": "Zoom-in",
            "es": "Acercar",
            "fi": "Lähennä",
            "fr": "Zoom avant",
            "hi": "ज़ूम-इन",
            "it": "Zoom avanti",
            "ja": "ズームイン",
            "ko": "확대",
            "nb": "Zoom inn",
            "nl": "Inzoomen",
            "pt-BR": "Mais zoom",
            "pt-PT": "Mais zoom",
            "sv": "Zooma in",
            "th": "ซูมเข้า",
            "zh-CN": "缩小",
            "zh-TW": "放大"
          }
        },
        {
          "value": "no-zoom",
          "label": {
            "da": "Ingen zoom",
            "de": "Nicht zoomen",
            "en": "No zoom",
            "es": "Sin zoom",
            "fi": "Ei zoomausta",
            "fr": "Pas de zoom",
            "hi": "कोई ज़ूम नहीं",
            "it": "Nessun zoom",
            "ja": "ズームなし",
            "ko": "확대 없음",
            "nb": "Ingen zoom",
            "nl": "Geen zoom",
            "pt-BR": "Sem zoom",
            "pt-PT": "Sem zoom",
            "sv": "Ingen zoom",
            "th": "ไม่มีการซูม",
            "zh-CN": "无缩放",
            "zh-TW": "無縮放"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "product_thumbnails_position",
      "label": {
        "da": "Position for produktets miniaturebillede",
        "de": "Position der Miniaturansicht des Produkts",
        "en": "Product thumbnail position",
        "es": "Posición de imagen miniatura del producto",
        "fi": "Tuotteen pikkukuvan sijainti",
        "fr": "Position de la vignette du produit",
        "hi": "उत्पाद थंबनेल की स्थिति",
        "it": "Posizione anteprima prodotto",
        "ja": "商品サムネイルの位置",
        "ko": "제품 썸네일 위치",
        "nb": "Posisjon for miniatyrbilde av produkt",
        "nl": "Positie miniatuurafbeelding product",
        "pt-BR": "Posição da miniatura de produto",
        "pt-PT": "Posição da miniatura de produto",
        "sv": "Position för förhandsgranskning av produkt",
        "th": "ตำแหน่งรูปภาพขนาดย่อของสินค้า",
        "zh-CN": "产品缩略图位置",
        "zh-TW": "產品縮圖位置"
      },
      "options": [
        {
          "value": "right",
          "label": {
            "da": "Til højre for hovedbilledet",
            "de": "Rechts vom Hauptbild",
            "en": "Right of main image",
            "es": "A la derecha de la imagen principal",
            "fi": "Pääkuvan oikealla puolella",
            "fr": "À droite de l'image principale",
            "hi": "मुख्य इमेज की दाईं ओर",
            "it": "A destra dell'immagine principale",
            "ja": "メイン画像の右",
            "ko": "주요 이미지의 오른쪽",
            "nb": "Til høyre for hovedbildet",
            "nl": "Rechts van hoofdafbeelding",
            "pt-BR": "À direita da imagem principal",
            "pt-PT": "À direita da imagem principal",
            "sv": "Höger om huvudbild",
            "th": "ด้านขวาของภาพหลัก",
            "zh-CN": "主图片的右侧",
            "zh-TW": "主要圖片右方"
          }
        },
        {
          "value": "below",
          "label": {
            "da": "Under hovedbilledet",
            "de": "Unter dem Hauptbild",
            "en": "Below main image",
            "es": "Debajo de la imagen principal",
            "fi": "Pääkuvan alla",
            "fr": "Sous l'image principale",
            "hi": "मुख्य इमेज के नीचे",
            "it": "Sotto l'immagine principale",
            "ja": "メイン画像の下",
            "ko": "아래 주요 이미지",
            "nb": "Under hovedbildet",
            "nl": "Onder hoofdafbeelding",
            "pt-BR": "Abaixo da imagem principal",
            "pt-PT": "Abaixo da imagem principal",
            "sv": "Under huvudbild",
            "th": "ด้านล่างของภาพหลัก",
            "zh-CN": "主图片的下方",
            "zh-TW": "主要圖片下方"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "da": "Beskrivelse",
        "de": "Beschreibung",
        "en": "Description",
        "es": "Descripción",
        "fi": "Kuvaus",
        "fr": "Description",
        "hi": "विवरण",
        "it": "Descrizione",
        "ja": "説明",
        "ko": "설명",
        "nb": "Beskrivelse",
        "nl": "Beschrijving",
        "pt-BR": "Descrição",
        "pt-PT": "Descrição",
        "sv": "Beskrivning",
        "th": "คำอธิบาย",
        "zh-CN": "描述",
        "zh-TW": "說明"
      }
    },
    {
      "type": "checkbox",
      "id": "show_extra_tab",
      "label": {
        "da": "Vis en fane ved siden af din produktbeskrivelse",
        "de": "Ein Tab neben deiner Produktbeschreibung anzeigen",
        "en": "Show a tab next to your product description",
        "es": "Mostrar una pestaña al lado de la descripción de tu producto",
        "fi": "Näytä tuotekuvauksen vieressä oleva välilehti",
        "fr": "Afficher un onglet à côté de la description de votre produit",
        "hi": "आपके उत्पाद विवरण के आगे टैब दिखाएं",
        "it": "Mostra una scheda accanto alla descrizione del prodotto",
        "ja": "商品説明の横にタブを表示する",
        "ko": "제품 설명 옆에 탭 표시",
        "nb": "Vis en fane ved siden av produktbeskrivelsen",
        "nl": "Laat tabblad zien naast je productbeschrijving",
        "pt-BR": "Exibir uma aba ao lado da descrição do seu produto",
        "pt-PT": "Mostrar um separador ao lado da sua descrição do produto",
        "sv": "Visa en flik intill produktbeskrivningen",
        "th": "แสดงแท็บถัดจากคำอธิบายสินค้าของคุณ",
        "zh-CN": "显示产品描述旁边的标签",
        "zh-TW": "於產品說明旁邊顯示索引標籤"
      },
      "default": false
    },
    {
      "type": "page",
      "id": "extra_tab_content",
      "label": {
        "da": "Fanens indhold",
        "de": "Tab-Inhalt",
        "en": "Tab content",
        "es": "Contenido de la pestaña",
        "fi": "Välilehden sisältö",
        "fr": "Contenu de l'onglet",
        "hi": "टैब सामग्री",
        "it": "Contenuto della scheda",
        "ja": "タブのコンテンツ",
        "ko": "탭 콘텐츠",
        "nb": "Faneinnhold",
        "nl": "Content tabblad",
        "pt-BR": "Conteúdo da aba",
        "pt-PT": "Conteúdo do separador",
        "sv": "Flikens innehåll",
        "th": "เนื้อหาแท็บ",
        "zh-CN": "标签内容",
        "zh-TW": "索引標籤內容"
      },
      "info": {
        "da": "Dette sideindhold vises i den ekstra fane.",
        "de": "Der Inhalt dieser Seite wird auf der zusätzlichen Registerkarte angezeigt.",
        "en": "This page content will appear in the extra tab.",
        "es": "El contenido de esta página aparecerá en la pestaña adicional.",
        "fi": "Tämä sivun sisältö näkyy ylimääräisessä välilehdessä.",
        "fr": "Le contenu de cette page s'affichera dans l'onglet supplémentaire.",
        "hi": "यह पृष्ठ सामग्री अतिरिक्त टैब में दिखाई देगी.",
        "it": "Il contenuto di questa pagina verrà visualizzato nella scheda aggiuntiva.",
        "ja": "このページのコンテンツは追加のタブに表示されます。",
        "ko": "이 페이지 콘텐츠는 추가 탭에 나타납니다.",
        "nb": "Dette sideinnholdet vil vises i ekstrafanen.",
        "nl": "De content van deze pagina verschijnt in het extra tabblad.",
        "pt-BR": "O conteúdo dessa página aparecerá na aba extra.",
        "pt-PT": "O conteúdo desta página vai aparecer no separador adicional.",
        "sv": "Sidinnehållet visas i fliken Extra.",
        "th": "เนื้อหาของหน้านี้จะปรากฏในแท็บพิเศษ",
        "zh-CN": "此页内容将显示在额外标签中。",
        "zh-TW": "此頁面內容將出現在額外索引標籤。"
      }
    },
    {
      "type": "checkbox",
      "id": "social_sharing",
      "label": {
        "da": "Aktivér produktdeling",
        "de": "Teilen von Produkten aktivieren",
        "en": "Enable product sharing",
        "es": "Habilitar compartir productos",
        "fi": "Ota tuotejako käyttöön",
        "fr": "Activer le partage de produits",
        "hi": "उत्पाद साझाकरण सक्षम करें",
        "it": "Permetti condivisione del prodotto",
        "ja": "商品の共有を有効にする",
        "ko": "제품 공유 활성화",
        "nb": "Aktiver produktdeling",
        "nl": "Delen van producten inschakelen",
        "pt-BR": "Habilite o compartilhamento de produtos",
        "pt-PT": "Ativar a partilha de produtos",
        "sv": "Aktivera produktdelning",
        "th": "เปิดใช้การแชร์สินค้า",
        "zh-CN": "启用产品分享",
        "zh-TW": "啟用產品分享"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Formular for produktmuligheder",
        "de": "Produktoptionsformular",
        "en": "Product options form",
        "es": "Formulario de opciones de producto",
        "fi": "Tuotevaihtoehtolomake",
        "fr": "Formulaire d'options de produit",
        "hi": "उत्पाद के विकल्प फ़ॉर्म",
        "it": "Modulo delle opzioni di prodotto",
        "ja": "商品オプションのフォーム",
        "ko": "제품 옵션 양식",
        "nb": "Skjema for produktalternativer",
        "nl": "Formulier productopties",
        "pt-BR": "Formulário de opções de produtos",
        "pt-PT": "Formulário de opções de produtos",
        "sv": "Produktalternativsformulär",
        "th": "แบบฟอร์มตัวเลือกสินค้า",
        "zh-CN": "产品选项表单",
        "zh-TW": "產品選項表單"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "hi": "डायनेमिक चेकआउट बटन दिखाएं",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische betaalknop weergeven",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "hi": "प्रत्येक ग्राहक आपके स्टोर पर उपलब्ध अपनी पसंदीदा भुगतान की विधि देखेंगे जैसे PayPal या Apple Pay. [अधिक जानें](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "add_to_cart_width",
      "label": {
        "da": "Variantvælger og knapstørrelse",
        "de": "Variantenauswahl und Schaltflächengröße",
        "en": "Variant picker and button size",
        "es": "Selector de variantes y tamaño del botón",
        "fi": "Versionvalitsin ja painikkeen koko",
        "fr": "Sélecteur de variante et taille du bouton",
        "hi": "वेरिएंट पिकर और बटन का आकार",
        "it": "Dimensione selettore variante e pulsante",
        "ja": "バリエーションピッカーとボタンサイズ",
        "ko": "이형 상품 선택기 및 버튼 사이즈",
        "nb": "Variantvelger og knappestørrelse",
        "nl": "Variantkiezer en knopgrootte",
        "pt-BR": "Tamanho do botão e do seletor de variante",
        "pt-PT": "Tamanho dos botões e seletor de variante",
        "sv": "Variantväljare och knappstorlek",
        "th": "รายการเครื่องมือเลือกสินค้าและขนาดของปุ่ม",
        "zh-CN": "多属性选择器和按钮大小",
        "zh-TW": "子類選項選擇器和按鈕尺寸"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petite",
            "hi": "छोटा",
            "it": "Small",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        }
      ]
    }
  ]
}
{% endschema %}
