{% if section.settings.show_related_products == true %}
<section class="util_pc section list_slider browsing_history" id="slider_browsing_history" itemscope itemtype="http://schema.org/Product" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
<div class="upper">
  <div class="tlt_main">
    <div class="item_thumbnail">
      <img src="{{'browsing_history.png' | asset_url}}" alt="" />
    </div>
    <span>閲覧履歴</span>
  </div>
  {% assign number_of_related_products_per_row = section.settings.related_grid_num %}
{% assign number_of_rows = section.settings.related_grid_row %}

{% assign heading = section.settings.related_title %}


{% assign same_vendor = false %}
{% assign same_type = false %}


{% assign exclusions = 'frontpage,all' | split: ',' %}
{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}
{% assign collection = collections['cd'] %}
{% assign found_a_collection = false %}
{% if collection and collections.all.products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
  {% assign current_product = product %}
  {% case number_of_related_products_per_row %}
    {% when '1' %}
      {% assign grid_item_width = '' %}
  {%- assign max_height = 700 -%}
    {% when '2' %}
  	  {%- assign max_height = 530 -%}
    {% when '3' %}
      {%- assign max_height = 345 -%}
    {% when '4' %}
  {%- assign max_height = 250 -%}
    {% when '5' %}
  {%- assign max_height = 195 -%}
    {% when '6' %}
  {%- assign max_height = 195 -%}
    {% else %}
  {%- assign max_height = 195 -%}
  {% endcase %}

  {%- assign columns_product_collections = section.settings.grid | plus: 0 -%}
  {%- assign colItem = 12 | divided_by:columns_product_collections -%}
  {%- if columns_product_collections == 5 -%}
  {%- capture grid_item_width -%} col-lg-5ths col-md-5ths col-sm-6 col-6{%- endcapture -%}
  {%- else -%}
  {%- capture grid_item_width -%}col-md-{{ colItem }} col-sm-6 col-6{%- endcapture -%}
  {%- endif -%}
  {%- assign product_limit = section.settings.limit -%}
  {% capture related_items %}
  <div class="productrelated-wrapper productlist-custom-arrow" >
    <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %} row"
         id="Productlistsrelated-{{ section.id }}"
         data-toshow="{{ section.settings.grid }}"
         data-scroll="{{ section.settings.scrollshow }}"
         data-row="{{ section.settings.rows }}"
         data-arrows="{{ section.settings.arrows }}"
         data-dots="{{ section.settings.dots }}"
         data-enable = "{{section.settings.enable_slick}}"
         >
    <div class="slider_inner">
        <ul id="carousel" class="slider_01 owl-carousel owl-theme">
      {% for product in collection.products  %}
      {% unless product.handle == current_product.handle %}
      {% unless same_vendor and current_product.vendor != product.vendor %}
      {% unless same_type and current_product.type != product.type %}
        <li class="item-product-{{ forloop.index }}">
            <a class="c-item" href="{{ product.url }}">
                <div class="item_thumbnail">
                  {%- for image in product.images -%}
                  <img class="util_pc" src="{{ image.src | img_url: '200x200' }}" alt="">
                  <img class="util_sp" src="{{ image.src | img_url: '200x200' }}" alt="">
                  {%- endfor -%}
                </div>
                <div class="c-item__body">
                  <div class="c_category"><span>{{ product.type }}</span></div>
                  <h3 class="c-item__title">{{ product.title}}</h3>
                  <div class="c-item__author">{{product.metafields.custom_fields["artist"]}}</div>
                  <div class="c-item__price">{{ product.selected_or_first_available_variant.price | money }}（税抜）</div>
                  <div class="c-item__date">{{product.metafields.custom_fields["release_date"] | date: "%Y/%m/%d"}} 発売</div>
              </div>
            </a>
          </li>
      {% assign counter = counter | plus: 1 %}
      {% if counter == break_at %}
      {% break %}
      {% endif %}
      {% endunless %}
      {% endunless %}
      {% endunless %}
      {% endfor %}
      </ul>
    </div>

    </div>
  </div>
  {% endcapture %}

  {% assign related_items = related_items | trim %}

  {% unless related_items == blank %}

  <aside>
    <div>
      {% unless heading == blank %}
      <div>
        {% comment %} <h2 class="section-header__title">{{ heading }}</h2> {% endcomment %}
      </div>
      {% endunless %}
      <div>
        {{ related_items }}
      </div>
    </div>
  </aside>

  {% endunless %}
{% endif %}
  <div class="bg_slider_top"></div>
</div>
</section>

{% comment %} sp {% endcomment %}
<section class="util_sp section recomend browsing_history_bg" id="container_history" itemscope itemtype="http://schema.org/Product" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
<div class="upper">
  <div class="tlt_main">
    <div class="item_thumbnail">
      <img src="{{'browsing_history.png' | asset_url}}" alt="" />
    </div>
    <span>閲覧履歴</span>
  </div>
    {% assign number_of_related_products_per_row = section.settings.related_grid_num %}
    {% assign number_of_rows = section.settings.related_grid_row %}

    {% assign heading = section.settings.related_title %}


    {% assign same_vendor = false %}
    {% assign same_type = false %}


    {% assign exclusions = 'frontpage,all' | split: ',' %}
    {% assign collection = collections['cd'] %}
    {% assign found_a_collection = false %}
    {% if collections.all.products_count > 1 %}
    {% unless exclusions contains collection.handle %}
        {% assign found_a_collection = true %}
    {% endunless %}
    {% endif %}
    {% unless found_a_collection %}
    {% for c in collections %}
        {% unless exclusions contains c.handle or c.all_products_count < 2 %}
        {% assign found_a_collection = true %}
        {% assign collection = c %}
        {% break %}
        {% endunless %}
    {% endfor %}
    {% endunless %}
    {% comment %}
    If we have a relevant collection.
    {% endcomment %}

    {% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
  {% assign current_product = product %}
  {% case number_of_related_products_per_row %}
    {% when '1' %}
      {% assign grid_item_width = '' %}
  {%- assign max_height = 700 -%}
    {% when '2' %}
  	  {%- assign max_height = 530 -%}
    {% when '3' %}
      {%- assign max_height = 345 -%}
    {% when '4' %}
  {%- assign max_height = 250 -%}
    {% when '5' %}
  {%- assign max_height = 195 -%}
    {% when '6' %}
  {%- assign max_height = 195 -%}
    {% else %}
  {%- assign max_height = 195 -%}
  {% endcase %}

  {%- assign columns_product_collections = section.settings.grid | plus: 0 -%}
  {%- assign colItem = 12 | divided_by:columns_product_collections -%}
  {%- if columns_product_collections == 5 -%}
  {%- capture grid_item_width -%} col-lg-5ths col-md-5ths col-sm-6 col-6{%- endcapture -%}
  {%- else -%}
  {%- capture grid_item_width -%}col-md-{{ colItem }} col-sm-6 col-6{%- endcapture -%}
  {%- endif -%}
  {%- assign product_limit = section.settings.limit -%}
  {% capture related_items %}
  <div class="productrelated-wrapper productlist-custom-arrow" >
    <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %} row"
         id="Productlistsrelated-{{ section.id }}"
         data-toshow="{{ section.settings.grid }}"
         data-scroll="{{ section.settings.scrollshow }}"
         data-row="{{ section.settings.rows }}"
         data-arrows="{{ section.settings.arrows }}"
         data-dots="{{ section.settings.dots }}"
         data-enable = "{{section.settings.enable_slick}}"
         >
    <div class="container_recomend">
        <ul class="list_item_recomend">
      {% for product in collection.products %}
      {% unless product.handle == current_product.handle %}
      {% unless same_vendor and current_product.vendor != product.vendor %}
      {% unless same_type and current_product.type != product.type %}
        <li class="item-product-{{ forloop.index }}">
            <a class="c-item" href="{{ product.url }}">
                <div class="item_thumbnail">
                  {%- for image in product.images -%}
                  <img class="util_pc" src="{{ image.src | img_url: '200x200' }}" alt="">
                  <img class="util_sp" src="{{ image.src | img_url: '200x200' }}" alt="">
                  {%- endfor -%}
                </div>
                <div class="c-item__body">
                  <div class="c_category"><span>{{ product.type }}</span></div>
                  <h3 class="c-item__title">{{ product.title}}</h3>
                  <div class="c-item__author">{{product.metafields.custom_fields["artist"]}}</div>
                  <div class="c-item__price">{{ product.selected_or_first_available_variant.price | money }}（税抜）</div>
                  <div class="c-item__date">{{product.metafields.custom_fields["release_date"] | date: "%Y/%m/%d"}} 発売</div>
              </div>
            </a>
          </li>
      {% assign counter = counter | plus: 1 %}
      {% if counter == break_at %}
      {% break %}
      {% endif %}
      {% endunless %}
      {% endunless %}
      {% endunless %}
      {% endfor %}
      </ul>
    </div>

    </div>
  </div>
  {% endcapture %}

  {% assign related_items = related_items | trim %}

  {% unless related_items == blank %}

  <aside>
    <div>
      {% unless heading == blank %}
      <div>
        {% comment %} <h2 class="section-header__title">{{ heading }}</h2> {% endcomment %}
      </div>
      {% endunless %}
      <div>
        {{ related_items }}
      </div>
    </div>
  </aside>

  {% endunless %}
    {% endif %}
  <div class="more_01">
        <span>もっと見る</span>
    </div>
</div>
</section>
{%- endif- %}
<script>
    $('.c-item .c-item__body').matchHeight();
</script>
{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": true
    },
    {
      "id": "related_title",
      "type": "text",
      "label": "Related title",
      "default": "Other fine products"
    },
    {
      "type": "text",
      "id": "limit",
      "label": "Limit product",
      "default": "8"
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3
    },
	  {
		"type": "checkbox",
		"id": "enable_slick",
		"label": "Enable slider",
		"default": false
	  },
      {
        "type": "text",
        "id": "scrollshow",
        "label": "Scroll to show",
		"default": "1",
        "info": "Use for slick exp: 1, 2, 3..."
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 2,
        "info": "Use for slick exp: 1, 2, 3..."
      },
	  {
        "type": "checkbox",
        "id": "arrows",
        "label": "Enable arrows",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "dots",
        "label": "Enable dots",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
	  {
		"type":"header",
		"content": "receilreview"
	  },
      {
        "type": "checkbox",
        "id": "show_reviewd_products",
        "label": "Show rencently viewed",
        "default": false
      },
      {
        "id": "title",
        "type": "text",
        "label": "Rencently viewed title",
        "default": "Rencently viewed products"
      }

  ]
}
{% endschema %}