<div class="upper">
  <div class="navi_top">
    <ul>
      <li><a href="/">TOP</a></li>
      <li>
        <a href="/"><span class="current">マイページ</span></a>
      </li>
      <li><span class="current">ご注文の詳細</span></li>
    </ul>
  </div>
</div>
<section class="section order_history">
  <div class="upper">
    <div class="util_pc tlt_main">
      <span>ご注文の詳細</span>
    </div>
    <div class="inner_order_history">
      <div class="container_list_order_history">
        {% if customer.orders.size != 0 %}
        <ul class="list_order_history">
          {% for order in customer.orders %}
            {%- for line_item in order.line_items -%}
            <li>
              <div class="item_order_history">
                <div class="data_order_history">
                  <div class="item_thumbnail">
                    <img src="{{ line_item.image | img_url }}" alt="" />
                  </div>
                  <div class="data">
                    <h3>
                      {{ order.name }} {{ order.name | link_to: order.customer_url }}
                      {% comment %} [告知解禁：2020年 2月17日 12時 0分] {% endcomment %}
                      [告知解禁: {{ order.created_at | time_tag: '%Y年%m月%d日 %H時 %M分' }}]
                    </h3>
                    <div class="info_data">
                      <span>{{line_item.title}}</span>
                      <span>フォーマット：{{ line_item.product.metafields.custom_fields.format }} / 仕様：{{ line_item.product.metafields.custom_fields.specification }}</span>
                      <span>商品番号： {{line_item.product_id}}</span>
                    </div>
                    <div class="num_price_order">
                      <span>数量：{{line_item.quantity}}</span>
                      <span>価格：{{ line_item.original_line_price | money }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="util_sp tlt_main">
        <span>ご注文の詳細</span>
      </div>
      <div class="total_order_history">
        <div class="order_num">
          <div>
            <span>注文番号：#1001</span>
            <span>注文日：2020/5/1</span>
            <span>商品数：{{customer.orders_count}}</span>
            <a href="#">発送準備中</a>
            <div class="returns_about">
              <a href="#">
                <div class="item_thumbnail">
                  <img
                    class="util_pc"
                    src="{{'icon_help.png' | asset_url}}"
                    alt=""
                  />
                  <img
                    class="util_sp"
                    src="{{'sp_icon_help.png' | asset_url}}"
                    alt=""
                  />
                </div>
                <span>商品のキャンセル・返品について</span>
              </a>
            </div>
          </div>
        </div>
        <div class="total_product_order">
          <div class="list_total_order">
            <div class="total_order">
              <span>商品合計</span>
              <span>{{ orders.line_items_subtotal_price | money }}</span>
            </div>
            <div class="total_order">
              <span>消費税</span>
              <span>{{ shipping_method.price | money }}</span>
            </div>
            <div class="total_order">
              <span>送料</span>
              <span>{{ tax_line.price | money }}</span>
            </div>
            <div class="total_order total_last">
              <span>合計</span>
              <span>{{ customer.total_spent | money_with_currency }}</span>
            </div>
            <div class="total_order payment_method">
              <span>お支払い方法：クレジットカード決済</span>
              <span class="status_payment">お支払い状況：保留</span>
            </div>
          </div>
        </div>
        <div class="billing_address">
        {{ order.billing_address | format_address }}
          <h3>請求先</h3>
          <span>ウルトラ太郎</span>
          <span>〒150-0011</span>
          <span>東京都渋谷区東1-28-9</span>
          <span>日本</span>
        </div>
        <div class="shipping_address">
          <h3>請求先</h3>
          <span>{{customer.name}}</span>
          {% for address in customer.default_address %}
          <span>{{address}}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<style>
    #main_content {
    background-color: #ebebeb;
}
</style>